<?xml version="1.0" encoding="utf-8"?>
<!-- 
 * mOnionO - The mobile Onion Observer
 * Copyright (C) 2012 Jens Bruhn (moniono@gmx.net)
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	    package="org.moniono"
	    android:versionCode="3"
	    android:versionName="0.0.6-alpha" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="10" />
    <application android:icon="@drawable/ic_launcher"
        	android:label="@string/app_name"
        	android:theme="@style/mOnionOStyle">
        <activity android:label="@string/app_name"
            	android:name=".main.MonionoActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name"
            	android:name=".details.RelayDetailsActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.NodeDetailsOverviewActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.NodeDetailsPolicyActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.NodeDetailsFlagsActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.NodeDetailsHistoryActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.NodeDetailsTabsActivity" />
        <activity android:label="@string/app_name"
           		android:name=".details.AboutActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.LicenseActivity" />
        <activity android:label="@string/app_name"
            	android:name=".details.HelpActivity" />
    </application>
</manifest>